:root {
    --black: #000;
    --palebrown: #e4ccab;
    --yellowbrown: #de9c63;
    --redbrown: #b54405;
    --brown: #a46c54;
    --darkbrown: #852c04;
    --white: #fff;
    --yellow: #efd305;
    --darkyellow: #e4ad16;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Garamond';
}

.navbar {
    background: var(--darkbrown);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.navbar__logo {
    color: var(--yellow);
    text-decoration: none;
    padding-left: 1rem;  
    font-size: 2.1rem;
}

.navbar__logo:hover {
    color: var(--white);
}

.navbar__link {
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;   
}

.navbar__link:hover {
    color: var(--yellow);

}

@media screen and (max-width: 768px) {
    /* Hero Section Adjustments */
    .hero__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__content h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 20px;
    }

    .hero__img {
        width: 80%;
        margin-top: 20px;
    }

    .magnifying_glass {
        width: 60px;
        transform: translateY(0);
    }

    /* Question Section Adjustments */
    .analysis__question {
        font-size: 30px;
        text-align: center;
    }

    .question p {
        font-size: 18px;
        text-align: center;
    }

    /* Core Principles Section Adjustments */
    .core__principles {
        flex-direction: column;
        gap: 20px;
    }

    .principle {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .core__img, .coregood__img, .coreeduc__img {
        width: 120px;
        top: -40px;
    }

    /* Contemporary Challenges Section Adjustments */
    .contempt__principles {
        flex-direction: column;
        gap: 20px;
    }

    .corecontempt__img, .coregood__img, .corecon__img {
        width: 120px;
        top: -40px;
    }

    /* Guiding Contemporary Society Section Adjustments */
    .guide__container p {
        font-size: 18px;
        padding: 0 20px;
    }

    /* General Adjustments for Smaller Screens */
    .navbar__menu {
        display: none;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--darkbrown);
        position: absolute;
        top: 60px;
        width: 100%;
    }

    .navbar__link {
        padding: 10px;
        font-size: 1.2rem;
    }
}
